/* Background color */
$text-color-1: rgb(255, 255, 255);
$text-color-1-a: rgba(255, 255, 255,0.0);
$text-color-2: rgb(220, 115, 242);
$text-color-3:  rgb(150,30,161);
$text-color-4:  rgb(48,17,72);
$text-color-5:  rgb(98,17,160);
$text-color-6: rgb(7, 203, 253);
$text-color-7: rgb(0, 0, 0);

$bg-color-1: rgb(255, 255, 255);
$bg-color-1-a: rgba(255, 255, 255, 0.2);
$bg-color-2: rgb(220, 115, 242);
$bg-color-2-a: rgba(220, 115, 242, 0.5);
$bg-color-3: rgb(7, 203, 253);
$bg-color-4: rgb(54, 236, 255);
$bg-color-5: rgb(74, 43, 198);

$border-color-1:  rgba(255, 255, 255, 0.2);