<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="caption" id="caption" data-aos="fade-right" data-aos-duration="2000">
                Think <br>
                Create <br>
                Code <br>
                Deliver !
            </div>                
        </div>
        <div class="col-12 col-sm-6">
            <div class="intro" data-aos="fade-left" data-aos-duration="2000">
                <div class="name">
                    Hi, I’m <br>Sivakumar <br>Jayakumar
                </div>
                <div class="description">
                    UI/UX designer, with 16+ years of experience in UI/UX and Frontend development industry. Check out what I can bring to the table for you...
                </div>
            </div>
        </div>
    </div>
</div>