/* You can add global styles to this file, and also import other style files */
@import 'partials/variables';
@import 'partials/fonts';
@import 'partials/mixins';
/* CSS */


html, body{
    font-size: 62.5%;
}
body{
    background: $bg-color-1 url('../assets/img/wave.svg') no-repeat 10%;
    background-size: cover;    
    height: 100vh;
    @include trans(all ease-out .2s);
    font-size: 1.6rem;
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

a,a:hover, a:active, a:focus, input, button, textarea {
    outline: none;
}
input::-moz-focus-inner { 
    border: 0; 
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
        margin: 0;
        padding: 0;
    }
}

.page-title{
    display: inline-block;
    color: $text-color-2;
    font-family: 'Bahnschrift';
    font-size: 2rem; 
    margin-left: -1.5rem;   
    padding-left: 0.5rem;
    border-left: 0.1rem solid $text-color-2;
    opacity: 0.5;
}

@import 'partials/media';