<nav class="main">
    <ul class="nav-icon">            
        <li>
            <a href="https://www.instagram.com/sivakumar_jayakumar/" title="Instagram" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/SivakumarJayak1" title="Twitter" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li class="nav-menu" role="link">
            <a href="javascript:void(0)" title="Navigation">
                <i class="fas fa-bars"></i>
            </a>
        </li>
        <li class="nav-menu-close js-nav-menu-close d-none"  role="link">
            <a href="javascript:void(0)" title="Navigation">
                <i class="fab fa-times-circle"></i>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/profile.php?id=539208035" title="Facebook" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/sivakumar-jayakumar-92862173" title="linkedin" target="_blank">                
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>
    </ul>
</nav>